*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    background-color: #0f1111;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 132px;
    margin: 0px 0px 0px 11px;
}

.logo{
    background-image: url("/img/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.border{
    border: solid #0f1111 1.5px;
    cursor: pointer;
}

.border:hover{
    border: solid white 1.5px;
}

.address{
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.address > p{
    color: #ccc;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
}

.add-icon{
    display: flex;
}

.add-icon > p{
    font-size: 14px;
    margin-left: 3px;
    font-weight: 1000;
}

.nav-search{
    display: flex;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-icon{
    height: 38px;
    width: 45px;
    background-color: #febd69;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;
}

#searchbar{
    height: 38px;
    width: 686px;
    font-size: 15px;
    border: none;
}

#dropdown-menu{
    height: 38px;
    width: 50px;
    cursor: pointer;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    border: none;
}

.nav-signin{
    height: 50px;
    align-content: center;
}

.nav-signin > p{
    font-size: 12px;
}

.acc-dropdown > p{
    font-size: 14px;
    font-weight: 700;
}

.nav-return{
    height: 50px;
    align-content: center;
}

.nav-return > p{
    font-size: 12px;
}

#order{
    font-size: 14px;
    font-weight: 700;
}

.nav-cart{
    display: flex;
    font-weight: 700;
    height: 50px;
    align-items: center;
}

.nav-cart > i{
    font-size: 30px;
}

.nav-cart > p{
    margin-top: 17px;
}

.img{
    background-image: url(/img/CA.png);
    height: 17px;
    width: 28px;
    background-size: cover;
    margin-top: 7px;
}

#lang-select{
    background-color: #0f1111;
    color: white;
    font-weight: 700;
    border: none;
    margin-top: 10px;
    font-size: 15px;
}
.nav-lang{
    display: flex;
    font-weight: 700;
    font-size: 14px;
    height: 50px;
    align-items: center;
}

.nav-lang > p{
    margin: 7px 0 0 7px; 
}

/* Panel section */
.panel{
    background-color: #232f3e;
    height: 39px;
    color: white;
    display: flex;
    align-items: center;
}

.panel-left{
    display: flex;
    height: 39px;
    width: 59px;
    align-items: center;
    margin-left: 11px;
}

.panel-left > i{
    font-size: 20px;
}

.panel-left > p{
    margin-left: 5px;
    font-weight: 1000;
    font-size: 14px;
}

.panel-right{
    display: flex;
    height: 39px;
    align-items: center;
}

.panel-right > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 18px;
    height: 39px;
    display: flex;
    align-items: center;
}

.border1{
    border: 1.5px solid #232f3e;
}

.border1:hover{
    border: 1.5px solid #fff;
    cursor: pointer;
}

/* main section */
.main{
    background-color: #e2e6e6;
    padding: 0px 5px;
}

.hero-section{
    background-image: url(/img/bg.jpg);
    background-color: #e2e6e6;
    background-size: cover;
    height: 600px ;
    width: 100%;
    background-repeat: no-repeat;

}

/* widget section */
.chevron{
    height: 250px;
    width: 100%;
    color: white;
    cursor: pointer;
}

.chevron-left{
    float: left;
    height: 250px;
    width: 84px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.chevron-right{
    float: right;
    height: 250px;
    width: 84px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* grid section */
.container{
    /* background-color: #e2e6e6; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:20px;
    justify-content: space-evenly;
    margin: 0px 20px 0px 20px;
}

.item{
    background-color: #fff;
    margin: 0px;
    padding:20px;
    width: auto;
    display: block;
    box-sizing: border-box;
}

.item > p{
    font-size: 21px;
    font-weight: 700;
}

/* Item-1 */

.item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 0px;
    gap: 6px;
}

.style-badge1{
    background-color: #CC0C39;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 2px;
    width: 56px;
    height: 24px;
}

.style-badge2{
    color: #CC0C39;
    font-size: 12px;
    font-weight: 700;
    width: 90px;
    margin: 0px 5px;
}

.sb{
    display: flex;
}

/* item-2 */

.item-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    font-size: 12px;
    margin: 20px 0px;
}

/* item-3 */

.img-3{
    margin: 20px 0px;
    /* height: 310px;
    width: 303px; */
}

.btn-2{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

.btn-2:hover{
    cursor: pointer;
    color: red;
}

/* item-4 */

.item-4{
    height: 150px;
}

#btn{
    background-color: #ffd814;
    width: 270px;
    height: 31px;
    border-radius: 99px;
    font-size: 13px;
    text-align: center;
    border: #ffd814;
}

#btn:hover{
    cursor: pointer;
    background-color: #ffd870;
    border: #ffd870;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

/* Footer */
footer{
    font-size: 14px;
    margin-top: 630px;
}
.back-to-top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475A;
    cursor: pointer;
    color: white;
    height: 49px;
}

.info{
    display: flex;
    background-color: #232f3e;
    color: white;
    justify-content: center;
}

ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

li{
    list-style: none;
    margin: 0px 0px 10px;
}

.info h1{
    font-weight: 700;
    font-size: 16px;
    margin: 40px 0px 14px;
}

.space{
    width: 100px;
    height: auto;
}

.block{
    padding: 0px 10px;
}

.info-logo{
    background-image: url(/img/amazon_logo.png);
    height: 34px;
    width: 80px;
    background-size: cover;
    margin-right: 100px;
}

.country{
    display: flex;
    height: 34px;
    width: 105px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    color: white;
}

.country-flag{
    background-image: url(/img/CA.png);
    height: 12px;
    width: 18px;
    margin-right: 10px;
    background-size: cover;
}

.info-panel2{
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 88px;
    width: 100%;
}

.lang{
    border: 1px solid white;
    width: 117px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.lang > select{
    background-color: #232f3e;
    border: none;
    color: white;
}

.info-panel2 > div{
    margin-right: 10px;
}

.info-panel3{
    background-color: #131A22;
    color: white;
    height: 76px;
    font-size: 12px;
    text-align: center;
    align-content: center;
}

.page{
    margin: 0px 0px 10px;
}

.page > a{
    margin-right: 10px;
}

.page > a:hover{
    cursor: pointer;
    text-decoration: underline;
}